<br>
<section class="container">
	<h1>User Infomation</h1>
	<mat-card style="background-color: sandybrown;">
		<mat-icon style="vertical-align: middle;">info</mat-icon>This module uses Firebase to store the data.
	</mat-card>
	<br>
	<ng-container *ngIf="(data$ | async) as data">
		<user-table [data]="data" (action)="captureAction($event)"></user-table>
		<section class="add-user-container">
			<button mat-flat-button color="primary" (click)="addUser()">
				<mat-icon>add</mat-icon>Add New User
			</button>
		</section>
	</ng-container>
</section>